/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of the reset CSS */

* {
  margin: 5px;
}

.head {
  padding: 20px;
}

body {
  margin: 1.5em 1em;
}

.logo {
  width: 32px;
  height: 32px;
  float: left;
  margin-right: 10px;
}


th {
  border-style: solid;
  border-width: 1px;
  width: 100px;
  height: 25px;
}

.menu>div>img {
  height: 16px;
  width: 16px;
  float: left;
  margin: 14px 10px 0;
}

tr>th>a {
  color: black;
  text-decoration: none;
}

.menu{
  margin: 20px 0;
}

.menu p {
  padding: 10px 0;
}

.ok {
  margin: 20px 60px;
  color: #202c3e;
  background-color: #ff943d;
  font-weight: bold;
  font-size: 2em;
}

.ok:hover {
  cursor: pointer;
  background-color: #e57a22;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

th input {
  border-style: none;
}

.landscape tr th {
  padding: 10px;
}
