ul
{
list-style-type: none;
}

.month {
  padding: 70px 25px;
  width: 100%;
  background-color:#276e87;
  text-align: center;
}


.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.events {
  background-color:#36ed94;
  height: 100px;
  width:80%;
  margin: auto;
  margin-bottom:20px;
  border: solid black 3px;
}

.weekdays {
  margin: 0;
  background-color:#42f492;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color:darkslategray;
  text-align: center;
}

.days li:hover {
  background-color:#2bccb9;
  transition:0.25s;
  transform:scale(1.05);
  color:white;
}

.days {
  padding: 10px 0;
  background:#36ed94;
  margin: 0;
  height:50px;
  color:darkslategray;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  font-size:12px;
  height:100%;
  color:darkslategray;
  background-color:#2ccc7e;
}

.days li .active {
  color: white !important
}

.inactive li {
  background-color:#2ba3cc;
}
