* {
  color: #121613;
}
.logo {
  width: 32px;
  height: 32px;
  float: left;
  margin-right: 10px;
}

.titre {
  height: 60px;
  width: 320px;
  background-color: #202c3e;
  position: absolute;
  left: 0px;
  top: 0px;

}

.page {
  position: absolute;
  left: 0px;
  top: 60px;
  width: 320px;
  height: 480px;
  background-color: #e8f0f4;
}

.sidenav {
  position: absolute;
  left: 0px;
  top: 60px;
  width: 280px;
  height: 480px;
  background-color: #ff943d;
}

.options {
  margin: 20px 0px 50px 60px;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.modes {
  margin: 40px 0px 20px 20px;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  float:left;
}

 .barre {
  height: 4px;
  width: 80%;
  margin: auto;
  background-color: #202c3e;
  border-radius: 40px;

}

.modes p {
  margin-left: 40px;
  width: 200px;
  float: left;
  margin-top: 10px;
}

.switch {
  position: relative;
  width: 60px;
  height: 34px;
  float:left;
  margin: 5px 0px 10px 0px;
}

.switch input {display:none;}

.switch2 {
  margin:auto;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch2 input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #202c3e;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  text-align: center;
  content:"";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #e57a22;
  transition: .26s;
}

input:checked + .slider {
  background-color: #e8f0f4;
  transition: .5s;
}

input:checked + .slider:before {
  transform: translateX(100%);
  content:"";
}

.slider.round {
  border-radius: 40px;
}

.slider.round:before {
  border-radius: 50%;
}

span p {
  clear:both;
}
